<h1>About Us at Greeny Coders Group</h1>
<h2 class="subtitle">Movie Reviews at: https//:www.moviereviews.utah.com</h2>
<p>fake link btw</p>

<div class="link"><%= render "shared/links" %></div>
<h1>Jeremy Titensor, Isabella Gilman, Lane Allan, Connor Cisney</h1>
<div class="link">
  <a href="https://github.com/autoreflex24/group_project"> Github Link</a>
</div>