<h1>About Us at Greeny Coders Group</h1>
<h2>Movie Reviews at:</h2>
<h3></h3>https://group-project-name-autoreflex24.c9users.io/pages/reviews</h3>
<%= "image_tag http://www.espressographics.com/html_graphics/Banner_300x250.gif" %>
<p>Find me in app/views/pages/about.html.erb</p>
