
<h1 class="title">The fastest newest feed on the Web!</h1>
<h2 class="subtitle">You shouldn't doubt our greeny version of a PERFECT system! :D</h2>

<hr>

    <div class="title"><h1>The Spongebob Movie</h1></div>
    <div class="subtitle"><h2>By Dovahkiin</h2></div>
    <p>This was a great movie, I've never seen it before. 10/10.</p>
  
    <div class="image">
      <img src="https://lh3.googleusercontent.com/-xJiPTMAglC4/VhAGkwzpB5I/AAAAAAAA9t4/pvdLJ75PXdM/w300-h317/15%2B-%2B1%2B%25289%2529.gif">
    </div>
    
    <hr>

  <div class="title"><h1>The Hunger Games</h1></div>
  <div class="subtitle"><h2>Best movie in decades</h2></div>
  <p>It was cool and stuff.</p>
  
    <div class="image">
      <img src="https://media.tenor.com/images/5221da6d1ecdf33cb717519819ff6dc9/tenor.gif">
    </div>

<div class="link"><%= render "shared/links" %></div>