<h1 class="title">Hello Movie Goers!</h1>
<h2 class="title">This is the BRAND NEW Moview Review page!</h2>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="link"><%= render "shared/links" %></div>